{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>
<div class="py-20 row">
    <div class="col-sm-2">
        <img src="{{ image }}">
</div>
<div class="col">
        <h1>{{ book_name}}</h1>
        <p class="lead">By {{ publisher }}</p>
         <div>
            {%- if status == 'Available' -%}
            <span class="badge badge-success">Available</span>
            {%- elif status == 'Issued' -%}
            <span class="badge badge-primary">Issued</span>
            {%- endif -%}
        </div>
</div>
{% endblock %}

<!-- this is a sample default web page template -->